body
{
	font-family: "Verdana";
}

#container
{
	width: 30%;
	margin : 100px auto;
	padding: 10px;
}

#menu
{
	width: 100%;

	display: grid;

	grid-template-columns: 80% 20%;
	height: 60px;
	margin-bottom: 10px;
}

input
{
	padding-left: 10px;
	margin-right: 10px;
	font-size: 2em;
}

button
{
	font-size: 1.3vw;
	text-align: center;
	font-weight: bold;
	padding : 10px 15px;
	background-color: #5574a9;
	border: none;
	box-shadow: 0px 0px 2px 1px black;
	color: white;
}

#description
{
	border: 1px solid black;
	width: 80%;
	margin: 0px auto;
	padding: 0px 20px;
	font-size: 1.2vw;
}
