body
{
	font-family: "Verdana";
}

#container
{
	width: 30%;
	margin: 70px auto;
}

#menu
{
	display: grid;
	grid-template-columns: 80% 20%;
	height: 60px;
}

input
{
	font-size: 1.6vw;
	padding-left: 20px;
	margin-right: 10px;
}

button
{
	color: white;
	background-color: #4287f5;
	border: none;
	box-shadow: 0px 0px 2px 1px black;
	font-size: 1.6vw;
}

#description
{
	min-width: 0px;
	color: white;
	font-size: 2.5em;
	background-color: rgba(0,0,0,0.6);
	margin: 20px auto;
	border-radius: 20px;
	padding: 10px 30px;
	display: hidden;
}

img
{
	float: right;
	margin-top: -14px;
	width: 78px;
}

@media only screen and (max-width: 1100px)
{
	#container
	{
		width: 70%;
	}

	input
	{
		font-size: 3vw;
	}

	button
	{
		font-size: 3vw;
	}
}

@media only screen and (max-width: 600px)
{
	#container
	{
		width: 100%;
	}

	input
	{
		font-size: 5vw;
	}

	button
	{
		font-size: 5vw;
	}
}